.left{
    margin-left:10%;
}
.small{
    width: 100px;
}


.icon{
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    width: 100px;
    height: auto;
    margin-right:20%;
    margin-left: 2%;
}

.search{
    margin-right:12% ;
}
